.z-tree-node {
  .collapsed {
    display : none;
  }
}

.z-tree-node-children {
  padding-left: 10px;
}

.z-tree-root-level.z-tree-node-children {
  padding-left: 0px;
}

.z-tree-node-indent {
  width: 5px;
  height: 1px;
  float: left;
}